.header
	.container
		include ../modules/menu
		.header__wrap
			.header-block
				h4.header__name Restaurant
				h1.header__title Fancy Sailor
				.line
				.button-block
					a(href="index.html")
						button(type="submit").g-btn.button-block__btn.button-block__btn_left Book table
					a(href="index.html")
						button(type="submit").g-btn.button-block__btn.button-block__btn_right Explore
					
	



