.nav
	ul.nav__list
		li.nav__item
			a(href="#").nav__link Home
		li.nav__item
			a(href="#").nav__link About
		li.nav__item
			a(href="#").nav__link Team
		li.nav__item
			a(href="#").nav__link Booking

	img(src="static/img/content/project/Vector.png" alt="Vector").nav__img
	
	ul.nav__list
		li.nav__item
			a(href="#").nav__link Menu
		li.nav__item
			a(href="#").nav__link Galerie
		li.nav__item
			a(href="#").nav__link Events
		li.nav__item
			a(href="#").nav__link Contact


			