.nav
	display grid
	grid-template-columns auto auto auto
	&__list
		display flex
		flex-wrap wrap
		flex-direction row
		align-items top
		justify-content space-between
	&__item
		padding 0 20px
	&__img
		max-width 150px
		width 100%
		padding 25px
		margin 0 auto
	&__link
		OpenSansBold()
		font-size .75 rem
		line-height 100px
		text-transform uppercase
		&:hover
			color linkHover