extends ../layout/main

block title
	| Restaurant - Fancy Sailor


block content
	
	section.aboutUs
		.container
			.g-row
				.description-block
					h2.g-title About us
					.line
					span.g-text_bold Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis at velit maximus, molestie est a, tempor magna.
					p.g-text Integer ullamcorper neque eu purus euismod, ac faucibus mauris posuere. Morbi non ultrices ligula. Sed dictum, enim sed ullamcorper feugiat, dui odio vehicula eros, a sollicitudin lorem quam nec sem. Mauris tincidunt feugiat diam convallis pharetra. Nulla facilisis semper laoreet.
				.image-block
					img(src="static/img/content/project/about-img1.png" alt="about-img1").image-block__img.image-block__img_right
	
	section.booking
		.container
			.g-row
				.image-block
					img(src="static/img/content/project/about-img2.png" alt="about-img2").image-block__img.image-block__img_left
				.description-block.booking-block
					h2.g-title Book a table
					.line
					span.g-text_bold Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis at velit maximus, molestie est a, tempor magna.
					form.booking-form
						.booking-form__input
							input(type="text" name="name" placeholder="Name")
							input(type="text" name="email" placeholder="Email")
							input(type="text" name="phone" placeholder="Phone")
							.input-chevron
								input(type="text" name="people" placeholder="People")
								i.fa.fa-chevron-down
							input(type="text" name="date" placeholder="Date (mm/dd)")
							.input-chevron
								input(type="text" name="time" placeholder="Time")
								i.fa.fa-chevron-down
						.contact-form__button
							button(type="submit").g-btn.booking-form__button_btn Book now
			
			.working-hours
				p
					| Mon - Fri: 
					strong 8PM - 10PM
					| , Sat - Sun:
					strong 8PM - 3AM
					| , Phone:
					strong +40 729 131 637/+40 726 458 782
					
	section.specialties
		.container
			h4.specialties__name Specialties
			.g-row
				.image-block
					img(src="static/img/content/project/rectangle.png" alt="rectangle2").image-block__img.image-block__img_left
				.description-block
					h2.g-title Chocolate pancakes
					.line
					span.g-text_bold Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis at velit maximus, molestie est a, tempor magna.
					p.g-text Integer ullamcorper neque eu purus euismod, ac faucibus mauris posuere. Morbi non ultrices ligula. Sed dictum, enim sed ullamcorper feugiat, dui odio vehicula eros, a sollicitudin lorem quam nec sem. Mauris tincidunt feugiat diam convallis pharetra. Nulla facilisis semper laoreet.
	
	section.contact
		.container
			h2.g-title Contact
			.line
			span.g-text_bold Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis at velit maximus, molestie est a, tempor magna.
			form.contact-form
				.contact-form__input
					input(type="text" name="name" placeholder="Name")
					input(type="text" name="email" placeholder="Email")
					input(type="text" name="phone" placeholder="Phone")
				.contact-form__textarea
					textarea(name="submit" placeholder="Message")
				.contact-form__button
					button(type="submit").g-btn.contact-form__button_btn Send message
			
